interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://site.api.espn.com/apis/site/v2/sports/football/college-football/scoreboard
  response:
    body:
      string: "{\"leagues\":[{\"id\":\"23\",\"uid\":\"s:20~l:23\",\"name\":\"NCAA
        - Football\",\"abbreviation\":\"NCAAF\",\"midsizeName\":\"NCAA Football\",\"slug\":\"college-football\",\"season\":{\"year\":2025,\"startDate\":\"2025-02-01T08:00Z\",\"endDate\":\"2026-01-21T07:59Z\",\"displayName\":\"2025\",\"type\":{\"id\":\"2\",\"type\":2,\"name\":\"Regular
        Season\",\"abbreviation\":\"reg\"}},\"logos\":[{\"href\":\"https://a.espncdn.com/redesign/assets/img/icons/ESPN-icon-football-college.png\",\"width\":500,\"height\":500,\"alt\":\"\",\"rel\":[\"full\",\"default\"],\"lastUpdated\":\"2021-08-03T15:56Z\"},{\"href\":\"https://a.espncdn.com/redesign/assets/img/icons/ESPN-icon-football-college.png\",\"width\":500,\"height\":500,\"alt\":\"\",\"rel\":[\"full\",\"dark\"],\"lastUpdated\":\"2021-08-03T15:56Z\"}],\"calendarType\":\"list\",\"calendarIsWhitelist\":true,\"calendarStartDate\":\"2025-02-01T08:00Z\",\"calendarEndDate\":\"2026-01-21T07:59Z\",\"calendar\":[{\"label\":\"Regular
        Season\",\"value\":\"2\",\"startDate\":\"2025-08-23T07:00Z\",\"endDate\":\"2025-12-14T07:59Z\",\"entries\":[{\"label\":\"Week
        1\",\"alternateLabel\":\"Week 1\",\"detail\":\"Aug 23-Sep 1\",\"value\":\"1\",\"startDate\":\"2025-08-23T07:00Z\",\"endDate\":\"2025-09-02T06:59Z\"},{\"label\":\"Week
        2\",\"alternateLabel\":\"Week 2\",\"detail\":\"Sep 2-7\",\"value\":\"2\",\"startDate\":\"2025-09-02T07:00Z\",\"endDate\":\"2025-09-08T06:59Z\"},{\"label\":\"Week
        3\",\"alternateLabel\":\"Week 3\",\"detail\":\"Sep 8-14\",\"value\":\"3\",\"startDate\":\"2025-09-08T07:00Z\",\"endDate\":\"2025-09-15T06:59Z\"},{\"label\":\"Week
        4\",\"alternateLabel\":\"Week[...]
