interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://site.api.espn.com/apis/site/v2/sports/basketball/nba/scoreboard
  response:
    body:
      string: '{"leagues":[{"id":"46","uid":"s:40~l:46","name":"National Basketball
        Association","abbreviation":"NBA","slug":"nba","season":{"year":2026,"startDate":"2025-10-01T07:00Z","endDate":"2026-06-27T06:59Z","displayName":"2025-26","type":{"id":"2","type":2,"name":"Regular
        Season","abbreviation":"reg"}},"logos":[{"href":"https://a.espncdn.com/i/teamlogos/leagues/500/nba.png","width":500,"height":500,"alt":"","rel":["full","default"],"lastUpdated":"2018-06-05T12:07Z"},{"href":"https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500-dark/nba.png&w=500&h=500&transparent=true","width":500,"height":500,"alt":"","rel":["full","dark"],"lastUpdated":"2025-12-06T11:12Z"}],"calendarType":"day","calendarIsWhitelist":true,"calendarStartDate":"2025-10-01T07:00Z","calendarEndDate":"2026-06-27T06:59Z","calendar":["2025-10-02T07:00Z","2025-10-03T07:00Z","2025-10-04T07:00Z","2025-10-05T07:00Z","2025-10-06T07:00Z","2025-10-07T07:00Z","2025-10-08T07:00Z","2025-10-09T07:00Z","2025-10-10T07:00Z","2025-10-11T07:00Z","2025-10-12T07:00Z","2025-10-13T07:00Z","2025-10-14T07:00Z","2025-10-15T07:00Z","2025-10-16T07:00Z","2025-10-17T07:00Z","2025-10-21T07:00Z","2025-10-22T07:00Z","2025-10-23T07:00Z","2025-10-24T07:00Z","2025-10-25T07:00Z","2025-10-26T07:00Z","2025-10-27T07:00Z","2025-10-28T07:00Z","2025-10-29T07:00Z"[...]
