interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://site.api.espn.com/apis/site/v2/sports/football/nfl/scoreboard
  response:
    body:
      string: "{\"leagues\":[{\"id\":\"28\",\"uid\":\"s:20~l:28\",\"name\":\"National
        Football League\",\"abbreviation\":\"NFL\",\"slug\":\"nfl\",\"season\":{\"year\":2025,\"startDate\":\"2025-07-31T07:00Z\",\"endDate\":\"2026-02-12T07:59Z\",\"displayName\":\"2025\",\"type\":{\"id\":\"2\",\"type\":2,\"name\":\"Regular
        Season\",\"abbreviation\":\"reg\"}},\"logos\":[{\"href\":\"https://a.espncdn.com/i/teamlogos/leagues/500/nfl.png\",\"width\":500,\"height\":500,\"alt\":\"\",\"rel\":[\"full\",\"default\"],\"lastUpdated\":\"2018-06-05T12:07Z\"},{\"href\":\"https://a.espncdn.com/i/teamlogos/leagues/500-dark/nfl.png\",\"width\":500,\"height\":500,\"alt\":\"\",\"rel\":[\"full\",\"dark\"],\"lastUpdated\":\"2024-07-22T16:53Z\"}],\"calendarType\":\"list\",\"calendarIsWhitelist\":true,\"calendarStartDate\":\"2025-07-31T07:00Z\",\"calendarEndDate\":\"2026-02-12T07:59Z\",\"calendar\":[{\"label\":\"Preseason\",\"value\":\"1\",\"startDate\":\"2025-07-31T07:00Z\",\"endDate\":\"2025-09-04T06:59Z\",\"entries\":[{\"label\":\"Hall
        of Fame Weekend\",\"alternateLabel\":\"HOF\",\"detail\":\"Jul 31-Aug 6\",\"value\":\"1\",\"startDate\":\"2025-07-31T07:00Z\",\"endDate\":\"2025-08-07T06:59Z\"},{\"label\":\"Preseason
        Week 1\",\"alternateLabel\":\"Pre Wk 1\",\"detail\":\"Aug 7-13\",\"value\":\"2\",\"startDate\":\"2025-08-07T07:00Z\",\"endDate\":\"2025-08-14T06:59Z\"},{\"label\":\"Preseason
        Week 2\",\"alternateLabel\":\"Pre Wk 2\",\"detail\":\"Aug 14-20\",\"value\":\"3\",\"startDate\":\"2025-08-14T07:00Z\",\"endDate\":\"2025-08-21T06:59Z\"},{\"label\":\"Preseason
      [...]
