interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/fills?limit=5
  response:
    body:
      string: '{"cursor":"","fills":[{"action":"buy","count":103,"created_time":"2025-10-25T02:18:39.770999Z","fill_id":"1f1745ab-6831-701b-e811-42261ae959e6","is_taker":true,"market_ticker":"KXALIENS-26","no_price":96,"no_price_fixed":"0.9600","order_id":"8a0790c9-7332-4de7-9b8b-3d918cea00ca","price":0.04,"side":"no","ticker":"KXALIENS-26","trade_id":"1f1745ab-6831-701b-e811-42261ae959e6","ts":1761358719,"yes_price":4,"yes_price_fixed":"0.0400"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
