interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.elections.kalshi.com/trade-api/v2/markets?limit=1&series_ticker=KXNFLGAME
  response:
    body:
      string: '{"cursor":"CgsItdWLygYQ-LqNUhIZS1hORkxHQU1FLTI1REVDMjdCQUxHQi1HQg","markets":[{"can_close_early":true,"category":"","close_time":"2026-01-11T01:00:00Z","created_time":"2025-12-17T17:39:01.172187Z","custom_strike":{"football_team":"08c52d1f-7ce1-445f-be72-97de0554ecc8"},"early_close_condition":"This
        market will close and expire after a winner is declared.","event_ticker":"KXNFLGAME-25DEC27BALGB","expected_expiration_time":"2025-12-28T04:00:00Z","expiration_time":"2026-01-11T01:00:00Z","expiration_value":"","last_price":62,"last_price_dollars":"0.6200","latest_expiration_time":"2026-01-11T01:00:00Z","liquidity":409848786,"liquidity_dollars":"4098487.8600","market_type":"binary","no_ask":39,"no_ask_dollars":"0.3900","no_bid":38,"no_bid_dollars":"0.3800","no_sub_title":"Green
        Bay","notional_value":100,"notional_value_dollars":"1.0000","open_interest":13244,"open_time":"2025-12-17T17:43:00Z","previous_price":58,"previous_price_dollars":"0.5800","previous_yes_ask":59,"previous_yes_ask_dollars":"0.5900","previous_yes_bid":58,"previous_yes_bid_dollars":"0.5800","price_level_structure":"linear_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0100"}],"response_price_units":"usd_cent","result":"","risk_limit_cents":0,"rules_primary":"If
        Green Bay wins the Baltimore at Green Bay professional football game originally
        scheduled for Dec 27, 2025, then the market resolves to Yes.","rules_secondary":"The
        following market refers to the team who is the winner (or participant awarded
        a tie) in the Baltimore at Green Bay professional football game originally
        scheduled for Dec 27, 2025. If this game is postponed or delayed, the market
        will remain open and close after the rescheduled game has finished (within
        two weeks). If the cancelled game is not played or is rescheduled further
        than two weeks out, the market will resolve to a fair price for each team
        in accordance with the rules. If the game is declared a tie, the market will
        resolve to 50/50 for both teams.","settlement_timer_seconds":300,"status":"active","strike_type":"structured","subtitle":"","tick_size":1,"ticker":"KXNFLGAME-25DEC27BALGB-GB","title":"Baltimore
        at Green Bay Winner?","volume":16126,"volume_24h":7143,"yes_ask":62,"yes_ask_dollars":"0.6200","yes_bid":61,"yes_bid_dollars":"0.6100","yes_sub_title":"Green
        Bay"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ticker": "KXNFLGAME-25DEC27BALGB-GB", "side": "yes", "action": "buy",
      "count": 1, "type": "limit", "yes_price_dollars": "0.0200", "client_order_id":
      "vcr-test-1766557486"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.elections.kalshi.com/trade-api/v2/portfolio/orders
  response:
    body:
      string: '{"order":{"action":"buy","client_order_id":"vcr-test-1766557486","created_time":"2025-12-24T06:24:47.592321Z","expiration_time":null,"fill_count":0,"initial_count":1,"last_update_time":"2025-12-24T06:24:47.592321Z","maker_fees":0,"maker_fill_cost":0,"maker_fill_cost_dollars":"","no_price":98,"no_price_dollars":"0.9800","order_group_id":null,"order_id":"b9ef0c93-b795-44ff-b0a1-ddc9113a4e01","queue_position":0,"remaining_count":1,"side":"yes","status":"resting","taker_fees":0,"taker_fill_cost":0,"taker_fill_cost_dollars":"","ticker":"KXNFLGAME-25DEC27BALGB-GB","type":"limit","user_id":"e18fea31-729b-41b7-8f3e-eb25f8e13682","yes_price":2,"yes_price_dollars":"0.0200"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.elections.kalshi.com/trade-api/v2/portfolio/orders/b9ef0c93-b795-44ff-b0a1-ddc9113a4e01
  response:
    body:
      string: '{"order":{"action":"buy","client_order_id":"vcr-test-1766557486","created_time":"2025-12-24T06:24:47.592321Z","expiration_time":null,"fill_count":0,"initial_count":1,"last_update_time":"2025-12-24T06:24:47.592321Z","maker_fees":0,"maker_fill_cost":0,"maker_fill_cost_dollars":"","no_price":98,"no_price_dollars":"0.9800","order_group_id":null,"order_id":"b9ef0c93-b795-44ff-b0a1-ddc9113a4e01","queue_position":0,"remaining_count":1,"side":"yes","status":"resting","taker_fees":0,"taker_fill_cost":0,"taker_fill_cost_dollars":"","ticker":"KXNFLGAME-25DEC27BALGB-GB","type":"limit","user_id":"e18fea31-729b-41b7-8f3e-eb25f8e13682","yes_price":2,"yes_price_dollars":"0.0200"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.elections.kalshi.com/trade-api/v2/portfolio/orders/b9ef0c93-b795-44ff-b0a1-ddc9113a4e01
  response:
    body:
      string: '{"order":{"action":"buy","client_order_id":"vcr-test-1766557486","created_time":"2025-12-24T06:24:47.592321Z","expiration_time":null,"fill_count":0,"initial_count":1,"last_update_time":"2025-12-24T06:24:50.290971Z","maker_fees":0,"maker_fill_cost":0,"maker_fill_cost_dollars":"","no_price":98,"no_price_dollars":"0.9800","order_group_id":null,"order_id":"b9ef0c93-b795-44ff-b0a1-ddc9113a4e01","queue_position":0,"remaining_count":0,"side":"yes","status":"canceled","taker_fees":0,"taker_fill_cost":0,"taker_fill_cost_dollars":"","ticker":"KXNFLGAME-25DEC27BALGB-GB","type":"limit","user_id":"e18fea31-729b-41b7-8f3e-eb25f8e13682","yes_price":2,"yes_price_dollars":"0.0200"},"reduced_by":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
