interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/series?limit=10
  response:
    body:
      string: '{"cursor":"","series":[{"ticker":"KXNFLGAME","title":"NFL Game Winners","category":"Sports","frequency":"event_specific","settlement_sources":[{"name":"ESPN","url":"https://www.espn.com/nfl/"}],"tags":["football","nfl"]},{"ticker":"KXNBAGAME","title":"NBA Game Winners","category":"Sports","frequency":"event_specific","settlement_sources":[{"name":"ESPN","url":"https://www.espn.com/nba/"}],"tags":["basketball","nba"]},{"ticker":"KXPRES2024","title":"2024 Presidential Election","category":"Politics","frequency":"once","settlement_sources":[{"name":"AP News","url":"https://apnews.com/"}],"tags":["election","politics"]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/series?category=sports&limit=5
  response:
    body:
      string: '{"cursor":"","series":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
