interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/positions
  response:
    body:
      string: '{"cursor":"","event_positions":[{"event_exposure":9888,"event_exposure_dollars":"98.8800","event_ticker":"KXALIENS-26","fees_paid":28,"fees_paid_dollars":"0.2800","realized_pnl":0,"realized_pnl_dollars":"0.0000","total_cost":9888,"total_cost_dollars":"98.8800","total_cost_shares":103}],"market_positions":[{"fees_paid":28,"fees_paid_dollars":"0.2800","last_updated_ts":"2025-10-25T02:18:39.771507Z","market_exposure":9888,"market_exposure_dollars":"98.8800","position":-103,"realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_orders_count":0,"ticker":"KXALIENS-26","total_traded":9888,"total_traded_dollars":"98.8800"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
